{% extends "pages/base.html" %}
{% block title %} Ho Chi Minh City National Academy of Education Management | Post {% endblock %}
{% block content %}
    {% load static %}
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.8s">News</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/index">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/service">News</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? Blog Area Start -->
        <div class="blog_details">
            <h2 style="color: #2d2d2d;">Second divided from form fish beast made every of seas
                all gathered us saying he our
            </h2>
            <ul class="blog-info-link mt-3 mb-4">
                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
            </ul>
            <p class="excert">
                “We found emotional and behavioural development, and functions such as memory and self-control, were at
                least equivalent to those who had no exposure to fluoridated water,” Professor Do said.

                “In other words, there was no difference in child development and function related to fluoridated water.

                “This finding shows that consuming water with fluoride at levels used for public supplies in Australia
                is
                safe and it supports continuing and expanding fluoridation programs.”

                Currently, approximately 90 per cent of the Australian population has access to fluoridated water,
                although
                in Queensland it is 71 per cent.

                Many regional Queensland areas and Aboriginal and Torres Strait Islander communities are not covered by
                a
                fluoridation program.

                “A small but vocal group of people sometimes claims that water fluoridation can have adverse
                neurodevelopment effects, especially in young children,” Professor Do said.

                “This concern can impact community and public health support for the practice, but our research provides
                reassurance that it is safe and supports its expansion into more communities.

                “This is an important message because fluoride is extremely effective in preventing tooth decay and its
                use
                in water and toothpaste is credited with significant improvements in child dental health in Australia.”

                Dental caries (also known as tooth decay or dental cavities) is the most common chronic childhood
                disease
                worldwide causing pain and infection and can lead to tooth extraction.

                The UQ study followed up child participants of Australia’s National Child Oral Health study 2012-2014
                when
                they were aged 12 to 17 years.

                It measured their emotional and behavioural development using a Strengths and Difficulties Questionnaire
                and
                executive brain function using the Behaviour Rating Inventory of Executive Function - both instruments
                widely used in population health surveys.

                The study was funded by a National Health and Medical Research Council Project grant, and it is a
                collaboration between The University of Queensland, University of Adelaide and University of Western
                Australia in Australia, along with the University of Bristol in the UK.
            </p>
            <p>
                “We found emotional and behavioural development, and functions such as memory and self-control, were at
                least equivalent to those who had no exposure to fluoridated water,” Professor Do said.

                “In other words, there was no difference in child development and function related to fluoridated water.

                “This finding shows that consuming water with fluoride at levels used for public supplies in Australia
                is
                safe and it supports continuing and expanding fluoridation programs.”

                Currently, approximately 90 per cent of the Australian population has access to fluoridated water,
                although
                in Queensland it is 71 per cent.

                Many regional Queensland areas and Aboriginal and Torres Strait Islander communities are not covered by
                a
                fluoridation program.

                “A small but vocal group of people sometimes claims that water fluoridation can have adverse
                neurodevelopment effects, especially in young children,” Professor Do said.

                “This concern can impact community and public health support for the practice, but our research provides
                reassurance that it is safe and supports its expansion into more communities.

                “This is an important message because fluoride is extremely effective in preventing tooth decay and its
                use
                in water and toothpaste is credited with significant improvements in child dental health in Australia.”

                Dental caries (also known as tooth decay or dental cavities) is the most common chronic childhood
                disease
                worldwide causing pain and infection and can lead to tooth extraction.

                The UQ study followed up child participants of Australia’s National Child Oral Health study 2012-2014
                when
                they were aged 12 to 17 years.

                It measured their emotional and behavioural development using a Strengths and Difficulties Questionnaire
                and
                executive brain function using the Behaviour Rating Inventory of Executive Function - both instruments
                widely used in population health surveys.

                The study was funded by a National Health and Medical Research Council Project grant, and it is a
                collaboration between The University of Queensland, University of Adelaide and University of Western
                Australia in Australia, along with the University of Bristol in the UK.
            </p>
            <div class="quote-wrapper">
                <div class="quotes">
                    “We found emotional and behavioural development, and functions such as memory and self-control, were
                    at
                    least equivalent to those who had no exposure to fluoridated water,” Professor Do said.

                    “In other words, there was no difference in child development and function related to fluoridated
                    water.

                    “This finding shows that consuming water with fluoride at levels used for public supplies in
                    Australia
                    is safe and it supports continuing and expanding fluoridation programs.”

                    Currently, approximately 90 per cent of the Australian population has access to fluoridated water,
                    although in Queensland it is 71 per cent.

                    Many regional Queensland areas and Aboriginal and Torres Strait Islander communities are not covered
                    by
                    a fluoridation program.

                    “A small but vocal group of people sometimes claims that water fluoridation can have adverse
                    neurodevelopment effects, especially in young children,” Professor Do said.

                    “This concern can impact community and public health support for the practice, but our research
                    provides
                    reassurance that it is safe and supports its expansion into more communities.

                    “This is an important message because fluoride is extremely effective in preventing tooth decay and
                    its
                    use in water and toothpaste is credited with significant improvements in child dental health in
                    Australia.”

                    Dental caries (also known as tooth decay or dental cavities) is the most common chronic childhood
                    disease worldwide causing pain and infection and can lead to tooth extraction.

                    The UQ study followed up child participants of Australia’s National Child Oral Health study
                    2012-2014
                    when they were aged 12 to 17 years.

                    It measured their emotional and behavioural development using a Strengths and Difficulties
                    Questionnaire
                    and executive brain function using the Behaviour Rating Inventory of Executive Function - both
                    instruments widely used in population health surveys.

                    The study was funded by a National Health and Medical Research Council Project grant, and it is a
                    collaboration between The University of Queensland, University of Adelaide and University of Western
                    Australia in Australia, along with the University of Bristol in the UK.
                </div>
            </div>
            <p>
                MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                fraction of the camp price. However, who has the willpower
            </p>
            <p>
                MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                fraction of the camp price. However, who has the willpower to actually sit through a
                self-imposed MCSE training. who has the willpower to actually
            </p>
        </div>
    </main>
{% endblock %}